<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <title>Rarity</title>
</head>
<body>
<h1>Your Pokemon's ability rarity</h1>
<div class="chart" id="piegraph">
    <script type="text/javascript">
        var graphs = {{ plot | safe }} ; /* This line raises error in python file but it could work in flask, so ignore the error*/
        Plotly.plot('piegraph',graphs,{});
    </script>
</div>
<p><a href='/'>Go back to the home page.</a></p>

</body>
</html>